* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* width: calc(100vw - 80px) !important; */
    padding-left: 80px !important;
}


video{
    height: 63px;
    z-index: -1;
    position:fixed;
    /* filter: blur(); */
  }
  
  .navBar{
    background: transparent;
    color:rgb(99, 165, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-bottom: 0.01px groove #767575;
    overflow: hidden;
    /* margin-left: -100px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
  }
  
  
  body{
    margin: 0%;
  }
  
  .logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
  }
  .logoMain{
    height: 50px;
    width: auto;
    margin: 7% ;
  }
  
  .all_icons {
    margin-left: -20px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    width: 8%;
  
  }
  
  .all_icons span{
    color: black;
  }
  h2{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
    font-weight: 550;
    font-size: 20px;
  }
  
  .panelIcon, .panel2Icon, .panel3Icon{
    padding: 12px;
    margin-left: 10px;
  }
  
  img{
    height: 25px;
    width: auto;
  }
  
  .panelIcon:hover, .panel2Icon:hover, .panel3Icon:hover{
    border-bottom: 4.6px solid rgb(255, 255, 255);
    transition: 0.2s;
  }
  
  .panelIcon:active, .panel2Icon:active, .panel3Icon:active{
    border-bottom: 3px solid rgb(15, 234, 15);
  }
  
  .searchAndExit{
    display: flex ;
    margin-left: auto;
    margin-right: 8px;
    justify-content: space-evenly;
  
  }
  
  .searchBar{
    width: 10%;
    display: flex;
    margin-right: 20px;
    align-items: center;
    /* float: right; */
  }
  
  .searchInput{
    margin-left: 0;
    position: relative;
  }
  
  .searchi:focus{
    border-color: rgba(74, 51, 60, 0.4);
    background-color:rgb(34, 32, 32);
    box-shadow: 0 0 0 1px rgb(78, 169, 68);
  }
  
  .searchi:hover{
    border-color: rgba(72, 56, 62, 0.4);
    background-color: rgb(34, 32, 32);
    box-shadow: 0 0 0 1px rgb(78, 169, 68);
  }
  
  .searchi{
    background: transparent;
    outline: 0;
    border: 0;
    outline: rgb(34, 34, 34);
    border-radius:10px;
    background-color: rgb(34, 32, 32);
    height: 30px;
    width: 265px;
    color: rgb(61, 200, 63);
    font-family:  monospace;
    padding-right: 30px;
    padding-left: 9px;
  }   
  .search{
    transform: translateX(-136%);
    text-wrap: wrap;
    position: relative;
  }
  
  .searchbit{
    transform: translateX(-136%);
  }
  
  .Exit:hover{
    font-size: 20px;
    color: rgb(61, 200, 63);
  
  }
  .Exit{
    margin-top: 5px;
    margin-left: auto; 
    margin-right: 8px;
  }
  .exitIcon{
    width: 30px;
    height: 27px;
  }
  .profileOptions {
    display: none;
    position: absolute;
    top: 47px; /* Adjust this value as needed */
    right: 0;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  
  .Exit:hover .profileOptions {
    display: block; 
  
  }
  
  .profileOptions ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .profileOptions ul li {
    padding: 11px;
    background-color: black;
    color: #b1b1b1;
  }
  
  .profileOptions ul li a {
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: gray;
  
  }
  
  .profileOptions ul li a:hover {
    color: rgb(15, 234, 15);
    transform: translateY(20px);
  }
  

.about-me {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    overflow: auto;
    text-align: center;
}

.title {
    color: #4CAF50;
    text-align: left;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.description {
    
    font-size: 1.1rem;
    color: #fffbfb;
    text-align: left;
}

.subtitle {
    color: #4CAF50;
    font-size: 1.8em;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
}

.info {
    margin-bottom: 30px;
}

.info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.info ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.info ul li:before {
    content: "\2022";
    color: #4CAF50;
    font-weight: bold;
    position: absolute;
    left: 0;
    text-align: left;
}


.skillset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    overflow: auto;
}

.quadrant {
  
    padding: 4px;
    margin: 30px;
}

.inner-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem ;
    padding: 30px;
  
}

.image-box {
    justify-self: end;
   
}
.image-box .itag{
    height: 50px;
    width: 50px;
    font-size: 3rem;
    padding-top: 20px;

}

.text-box {
    justify-self: start;
}

.text-box h2{
    color:#4CAF50 ;
}

.text-box p {
    margin: 0;
    color: white;
}


/* Side Navigation */
.sidenav {
    height: 100vh;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #434343;
    overflow-x: hidden;
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
    /* Adding shadow for depth */
}

.sidenav a {
    padding: 10px 0;
    text-decoration: none;
    font-size: 20px;
    color: #f9f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: color 0.3s, background-color 0.3s;
}

.sidenav a:hover {
    color: #ffffff;
    background-color: #5a5a5a;

    /* Darken background color on hover */
}


.sidenav a.present {
    background-color: #222;
   
    border-right: 4px solid #4CAF50;
    height: 60px;
   
}

.sidenav a i {
    margin-right: 10px;
  
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 80px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


.profile-container {
    max-width: auto;
    margin: 0 auto;
    padding: 50px;
    padding-top: 50px;
    background-color: #0e0e0e;
    
    min-height: auto;
    /* min-height: 100vh; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    align-items: center;
    display: flex;
    flex-direction: column;


}


.profile-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-direction: column;
    padding: 80px;
    margin-top: 70px;
    padding-top: 20px;
    width: 30%;
    height:33rem;
    min-width: 320px;
    border-radius: 23px;
    background: #1a1a1a;
    box-shadow: inset 5px 5px 5px #0a0a0a,
        inset -5px -5px 5px #2a2a2a;
}

.upabve {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
}

.about-me {
    margin-top: 74px;
    width: 60%;
    height: 32.7rem;
    min-width: 320px;
    border-radius: 23px;
    background: #1a1a1a;
    box-shadow: inset 5px 5px 5px #0a0a0a,
        inset -5px -5px 5px #2a2a2a;
}

.about-me::-webkit-scrollbar {
  display: none;
}

.skillset {

    margin-top: 70px;
    width: 94%;
    height: 570px;
    min-width: 320px;
    border-radius: 10px;

    margin-left: -10px;
    border-radius: 23px;
    background: #1a1a1a;
    box-shadow: inset 5px 5px 5px #0a0a0a,
        inset -5px -5px 5px #2a2a2a;
}


.right-details img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
  



}

.left-details {

    padding-left: -180px;

    color: #f9f9f9;
   
    align-items: center;
    text-align: center;
    font-size: 1.5rem;


}

.badges img {

    width: 170px;
    height: 120px;
    border-radius: 10px;

}

/* Styles for badge section */
.badge-section {
    margin-top: 100px;
    margin-left: 38px;


    padding-top: 20px;

    width: 94%;
    height: auto;

    padding: 50px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    border-radius: 23px;
    background: #1a1a1a;
    box-shadow: inset 5px 5px 5px #0a0a0a,
        inset -5px -5px 5px #2a2a2a;
}



.badge-filters {
    margin-bottom: 20px;
}

.filter-btn {
    padding: 8px 16px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;

    transition: background-color 0.3s ease;
}

.filter-btn:hover {
    background-color: #6a6d70;
}

.filter-btn.active {
    background-color: #0e1012;
}

.badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px;



}

.badge {

    margin: 50px;
    padding: 20px;

    transition: transform 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 220px;
    height: 204px;
    border-radius: 23px;
    background: #1a1a1a;
    box-shadow: inset 5px 5px 5px #0a0a0a,
        inset 15px 15px 15px #2a2a2a;
}



.badge:hover {
    transform: scale(1.05);
    border: 1px solid black;

}


.participation {
    background-color: #6c757d;
}

.position1 {
    background-color: #3f4b41;
}

.position2 {
    background-color: #2b2e3b;
}

.position3 {
    background-color: #463d56;
}





.present i {
    color: #4CAF50;
   
    animation: glow 1s infinite alternate, scale 1s infinite alternate;
    /* glow and scale animation */
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #151515, 0 0 30px #0b0b0b;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #212121, 0 0 40px #3f3f3f;
    }
}

@keyframes scale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/*resource form*/
/* Style for the edit form container */
#editForm {
  width: 80%; /* Adjust width as needed */
  margin: 4% auto; /* Center the form horizontally */
  padding: 20px;
  background-color: #0b0b0b;
  border: 1px solid #585656;
  border-radius: 5px;
  display: block !important;
}

/* Style for input fields */
#editForm input[type="text"],
#editForm textarea {
  width: calc(100% - 20px); /* Adjust width to fit container */
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #434242;
  border-radius: 3px;
  box-sizing: border-box;
  color: white;
  
  background-color: #1d211e;
}

#editform :active{

  outline: none;
}

/* Style for buttons */
#editForm button {
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 3px;
  background-color: #1d211e;
  
  color: #f9f7f7;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#editForm button:hover {
  background-color: #1d211e;
  ;
}

/* Style for experience and education fields */
#experienceFields,
#educationFields,
#skillFields {
  margin-bottom: 10px;
}

/* Style for the submit button */
#editForm input[type="submit"] {
  padding: 12px 24px;
  background-color: #15a038;
  color: #fffdfd;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#editForm input[type="submit"]:hover {
  background-color: #218838;
}

.btn {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  display: flex;
  align-items: center;
  background: #105636;
  color: #f5f5f5;
  margin-bottom: 2%;
}

.btn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
  position: relative;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(55px);
}

.btn:hover .icon {
  width: 175px;
}

.btn:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}